<!-- New job_type form -->
<div class="modal fade" id="newUserModal" tabindex="-1" role="dialog" aria-labelledby="newUserModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newUserModalLabel">Nuevo usuario</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="/control_panel/new_user" method="post">
        <div class="modal-body">
          <%= em_input 'text', 'first_name', 'Nombre', '' %>
          <%= em_input 'text', 'last_name', 'Apellido', '' %>
          <%= em_input 'email', 'email', 'Email', '' %>
          <%= em_input 'password', 'password', 'Contraseña', '' %>
          <%= em_select 'role_name', 'Permisos', user_roles.map { |r| r[:name] } %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-success text-shadow btn-shadow border border-dark border-top-0 border-right-0">Enviar</button>
        </div>
      </form>
    </div>
  </div>
</div>
